{"swagger":"2.0","info":{"version":"v2","title":"Sagent Lending Letter Service (NPAU_DV03)"},"host":"sa-e2-npau-dv03-v8-api.sagentapps.net:8991","schemes":["https"],"paths":{"/V1/CodeTableMaintenance":{"get":{"tags":["CodeTableMaintenance"],"consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"loggedUserId","in":"query","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.SharedConfig.CodeTableMaintenanceGroupsDto"}}}},"security":[{"oauth2":["ac01bf51-2ad3-4c6e-ae89-c060dbf8119b/.default"]}]}},"/V1/PostDynamicDictionaries":{"post":{"tags":["CodeTableMaintenance"],"consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"tableName","in":"query","required":true,"type":"string"},{"name":"dictionaryOfColumnAndValue","in":"body","required":true,"schema":{"type":"object","additionalProperties":{"type":"string"}}},{"name":"insertDeleteUpdate","in":"query","required":true,"type":"string"},{"name":"databaseId","in":"query","required":true,"type":"string"},{"name":"loggedUserId","in":"query","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.SharedConfig.CodeTableMaintenanceResponseDto"}}},"security":[{"oauth2":["ac01bf51-2ad3-4c6e-ae89-c060dbf8119b/.default"]}]}},"/V1/PutForeignKeysData":{"put":{"tags":["CodeTableMaintenance"],"consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"clientId","in":"query","required":true,"type":"string"},{"name":"dictionaryIdAndElementName","in":"body","required":true,"schema":{"type":"object","additionalProperties":{"type":"string"}}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.SharedConfig.ForeignKeyDataResponseDto"}}},"security":[{"oauth2":["ac01bf51-2ad3-4c6e-ae89-c060dbf8119b/.default"]}]}},"/V1/Letters/DeliveryLog/Documents/{docId}":{"get":{"tags":["DeliveryLog"],"summary":"The get by doc id.","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"docId","in":"path","description":"The doc id.","required":true,"type":"string","format":"uuid"},{"name":"eventId","in":"query","description":"The event Id.","required":false,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/V1/Dictionary/Databases/{databaseId}":{"get":{"tags":["DictionaryDatabases"],"consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"databaseId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":["ac01bf51-2ad3-4c6e-ae89-c060dbf8119b/.default"]}]}},"/V1/Dictionary/Databases/{databaseId}/Entities/{entityId}/Elements/{elementId}/Attributes":{"get":{"tags":["DictionaryElementAttributes"],"consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"databaseId","in":"path","required":true,"type":"string"},{"name":"entityId","in":"path","required":true,"type":"string"},{"name":"elementId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":["ac01bf51-2ad3-4c6e-ae89-c060dbf8119b/.default"]}]}},"/V1/Dictionary/Databases/{databaseId}/Entities/{entityId}/Elements/{elementId}":{"get":{"tags":["DictionaryElements"],"consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"databaseId","in":"path","required":true,"type":"string"},{"name":"entityId","in":"path","required":true,"type":"string"},{"name":"elementId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":["ac01bf51-2ad3-4c6e-ae89-c060dbf8119b/.default"]}]}},"/V1/Dictionary/Databases/{databaseId}/Entities/{entityId}":{"get":{"tags":["DictionaryEntities"],"consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"databaseId","in":"path","required":true,"type":"string"},{"name":"entityId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":["ac01bf51-2ad3-4c6e-ae89-c060dbf8119b/.default"]}]}},"/V1/DictionaryEntityElementAttributes":{"get":{"tags":["DictionaryEntityElementAttributes"],"consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"databaseId","in":"query","required":false,"type":"string"},{"name":"entityId","in":"query","required":false,"type":"string"},{"name":"elementId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":["ac01bf51-2ad3-4c6e-ae89-c060dbf8119b/.default"]}]}},"/V1/Dictionary/Groups/{dictionaryGroupId}":{"get":{"tags":["DictionaryGroups"],"consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"dictionaryGroupId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":["ac01bf51-2ad3-4c6e-ae89-c060dbf8119b/.default"]}]}},"/V1/Commands/Send":{"post":{"tags":["LetterCommands"],"summary":"Send an existing letter.","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"requestDto","in":"body","description":"The request dto. Both AccountEventId and DocId cannot be null","required":true,"schema":{"$ref":"#/definitions/Fiserv.Messaging.Ltr.V1.Dto.LetterSend.LetterSendRequestDto"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/V1/Commands/GenerateLetter":{"put":{"tags":["LetterCommands"],"summary":"The create letter sync.","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"letterMergeRequestDto","in":"body","description":"The letter merge request dto.","required":true,"schema":{"$ref":"#/definitions/Fiserv.Messaging.Ltr.V1.Dto.CreateLetter.LetterMergeRequestDto"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/V1/Commands/GenerateLetterAsync":{"put":{"tags":["LetterCommands"],"summary":"The create letter async.","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"letterMergeRequestDto","in":"body","description":"The letter merge request dto.","required":true,"schema":{"$ref":"#/definitions/Fiserv.Messaging.Ltr.V1.Dto.CreateLetter.LetterMergeRequestDto"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/V1/Commands/TestGenerate":{"post":{"tags":["LetterCommands"],"summary":"The get.","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"testMergeRequestDto","in":"body","description":"The test Merge Request Dto.","required":true,"schema":{"$ref":"#/definitions/Fiserv.Messaging.Ltr.V1.Dto.TestMergeRequestDto"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/V1/Letters/Insert":{"put":{"tags":["Letters"],"summary":"The insert letter.","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"letterDto","in":"body","description":"The letter Setup Dto.","required":true,"schema":{"$ref":"#/definitions/Fiserv.Messaging.Ltr.V1.Dto.Letter.LetterRequestDto"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/V1/Letters/GetDocumentByMultipleDocIdAsync":{"post":{"tags":["Letters"],"summary":"The get.","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"requestDto","in":"body","description":"The request dto.","required":true,"schema":{"$ref":"#/definitions/Fiserv.Messaging.Ltr.V1.Dto.SaleSheetLetter.ConsolidationRequestDto"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/V1/Letters/GetLetterCreateAsync":{"post":{"tags":["Letters"],"summary":"The get letter create async to genererate outside accounr letter.","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"requestDto","in":"body","description":"The request dto.","required":true,"schema":{"$ref":"#/definitions/Fiserv.Messaging.Ltr.V1.Commands.LetterCreationRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/V1/Letters/Delete/{letterGuid}":{"delete":{"tags":["Letters"],"summary":"The insert letter.","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"letterGuid","in":"path","description":"The letter guid refering to the letter to be deleted.","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/V1/Letters/{docId}/Accounts/{accountId}":{"get":{"tags":["Letters"],"summary":"The get.","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"docId","in":"path","description":"The doc id.","required":true,"type":"string","format":"uuid"},{"name":"accountId","in":"path","description":"The account id.","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/V1/Letters/Systems/{systemId}/Environments/{environmentId}/Tenants/{tenantId}/Clients/{clientId}":{"get":{"tags":["Letters"],"summary":"The get letter on letter id.","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"systemId","in":"path","description":"The system id.","required":true,"type":"string"},{"name":"tenantId","in":"path","description":"The tenant id.","required":true,"type":"string"},{"name":"clientId","in":"path","description":"The client id.","required":true,"type":"string"},{"name":"letterId","in":"query","description":"The letter id.","required":true,"type":"string"},{"name":"environmentId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/V1/Letters/Tenants/{tenantId}/Clients/{clientId}/Accounts/{accountId}/AccountEventId/{accountEventId}":{"get":{"tags":["Letters"],"summary":"The get letter archive filter by account event id.","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"tenantId","in":"path","description":"The tenant id.","required":true,"type":"string"},{"name":"clientId","in":"path","description":"The client id.","required":true,"type":"string"},{"name":"accountId","in":"path","description":"The account id.","required":true,"type":"string"},{"name":"accountEventId","in":"path","description":"The account event id.","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/V1/Letters/{letterGuid}":{"get":{"tags":["Letters"],"summary":"The get letter based on guid.","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"letterGuid","in":"path","description":"The letter Guid.","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/V1/Letters":{"get":{"tags":["Letters"],"summary":"The get.","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"docId","in":"query","description":"The doc Id.","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/V1/Letters/GetPdfDocById/{docId}":{"get":{"tags":["Letters"],"summary":"The get.","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"docId","in":"path","description":"The doc Id.","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/V1/Letters/GetRmkPdfDocById/{docId}":{"get":{"tags":["Letters"],"summary":"The get.","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"docId","in":"path","description":"The doc Id.","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/V1/PendingPreviewLetter":{"post":{"tags":["LetterTest"],"summary":"The get.","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"pendingLetterPreviewRequest","in":"body","description":"The Pending Letter Preview Request.","required":true,"schema":{"$ref":"#/definitions/Fiserv.Messaging.Ltr.V1.Dto.Letter.PendingLetterPreviewRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Fiserv.Messaging.Ltr.V1.Commands.LetterResponse"}}}}},"/V1/PreviewLetter":{"post":{"tags":["LetterTest"],"summary":"The get.","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"letterPreviewRequest","in":"body","description":"The letter preview request","required":true,"schema":{"$ref":"#/definitions/Fiserv.Messaging.Ltr.V1.Dto.Letter.LetterPreviewRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Fiserv.Messaging.Ltr.V1.Commands.LetterResponse"}}}}},"/V1/MenuItems":{"get":{"tags":["MenuItems"],"consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"systemId","in":"query","required":true,"type":"string"},{"name":"menuType","in":"query","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":["ac01bf51-2ad3-4c6e-ae89-c060dbf8119b/.default"]}]}},"/V1/MenuTypes/{menuType}":{"get":{"tags":["MenuTypes"],"consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"menuType","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":["ac01bf51-2ad3-4c6e-ae89-c060dbf8119b/.default"]}]}},"/V1/ping":{"get":{"tags":["Ping"],"summary":"The ping test.","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/V1/Reporting/DynamicReport":{"post":{"tags":["Reporting"],"consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.DynamicReportRequestDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.DynamicReportResponseDto"}}},"security":[{"oauth2":["ac01bf51-2ad3-4c6e-ae89-c060dbf8119b/.default"]}]}},"/V1/Reporting/Domains":{"post":{"tags":["Reporting"],"consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.DomainRequestDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.DomainResponseDto"}}},"security":[{"oauth2":["ac01bf51-2ad3-4c6e-ae89-c060dbf8119b/.default"]}]}},"/V1/Reporting/Categories":{"post":{"tags":["Reporting"],"consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.ReportRequestDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.CategoryResponseDto"}}},"security":[{"oauth2":["ac01bf51-2ad3-4c6e-ae89-c060dbf8119b/.default"]}]}},"/V1/Reporting/Reports":{"post":{"tags":["Reporting"],"consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.ReportRequestDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.ReportResponseDto"}}},"security":[{"oauth2":["ac01bf51-2ad3-4c6e-ae89-c060dbf8119b/.default"]}]}},"/V1/Reporting/FilterData":{"post":{"tags":["Reporting"],"consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.FilterDataRequestDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.FilterDataResponseDto"}}},"security":[{"oauth2":["ac01bf51-2ad3-4c6e-ae89-c060dbf8119b/.default"]}]}},"/V1/Reporting/ClientLoginOrg":{"post":{"tags":["Reporting"],"consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.ServicerClientLogOrgRequestDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.ServicerClientLogOrgResponseDto"}}},"security":[{"oauth2":["ac01bf51-2ad3-4c6e-ae89-c060dbf8119b/.default"]}]}},"/V1/Reporting/ReportConfiguration":{"post":{"tags":["Reporting"],"consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.ReportConfigurationRequestDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.ReportConfigurationResponseDto"}}},"security":[{"oauth2":["ac01bf51-2ad3-4c6e-ae89-c060dbf8119b/.default"]}]}},"/V1/Reporting/SaveAs":{"post":{"tags":["Reporting"],"consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.SaveAsRequestDto"}}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}}},"security":[{"oauth2":["ac01bf51-2ad3-4c6e-ae89-c060dbf8119b/.default"]}]}},"/V1/Reporting/DataSources":{"post":{"tags":["Reporting"],"consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.Designer.DataSourceRequestDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.Designer.DataSourceResponseDto"}}},"security":[{"oauth2":["ac01bf51-2ad3-4c6e-ae89-c060dbf8119b/.default"]}]}},"/V1/Reporting/DataSourceDetail":{"post":{"tags":["Reporting"],"consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.Designer.DataSourceColumnDetailRequestDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.Designer.DataSourceColumnDetailResponseDto"}}},"security":[{"oauth2":["ac01bf51-2ad3-4c6e-ae89-c060dbf8119b/.default"]}]}},"/V1/Reporting/ServicerUserClients":{"get":{"tags":["Reporting"],"consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"userId","in":"query","required":true,"type":"string"},{"name":"tenantId","in":"query","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.ServicerUserClientResponseDto"}}},"security":[{"oauth2":["ac01bf51-2ad3-4c6e-ae89-c060dbf8119b/.default"]}]}},"/V1/Reporting/UpdateReportStatus":{"post":{"tags":["Reporting"],"consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.ReportMaintenanceRequestDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.ReportDto"}}},"security":[{"oauth2":["ac01bf51-2ad3-4c6e-ae89-c060dbf8119b/.default"]}]}},"/V1/Reporting/GenerateExportFile":{"post":{"tags":["Reporting"],"consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.ExportFileGenerationRequestDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.ExportFileGenerationResponseDto"}}},"security":[{"oauth2":["ac01bf51-2ad3-4c6e-ae89-c060dbf8119b/.default"]}]}},"/V1/Reporting/ExportedReports":{"post":{"tags":["Reporting"],"consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.ExportedReportsRequestDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.ExportedReportsResponseDto"}}},"security":[{"oauth2":["ac01bf51-2ad3-4c6e-ae89-c060dbf8119b/.default"]}]}},"/V1/Reporting/ExportedReportsDetail":{"post":{"tags":["Reporting"],"consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.ExportedReportsDetailRequestDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.ExportedReportsDetailResponseDto"}}},"security":[{"oauth2":["ac01bf51-2ad3-4c6e-ae89-c060dbf8119b/.default"]}]}},"/V1/Reporting/ExportedReportsDetailStream":{"post":{"tags":["Reporting"],"consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.ExportedReportsFileStreamRequestDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.ExportedReportsFileStreamResponseDto"}}},"security":[{"oauth2":["ac01bf51-2ad3-4c6e-ae89-c060dbf8119b/.default"]}]}},"/V1/Reporting/ParameterValue":{"post":{"tags":["Reporting"],"consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.Parameter.ParameterRequestDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.Parameter.ParameterResponseDto"}}},"security":[{"oauth2":["ac01bf51-2ad3-4c6e-ae89-c060dbf8119b/.default"]}]}},"/V1/Reporting/DataTypeOperator":{"post":{"tags":["Reporting"],"consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.DataTypeOperatorRequestDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.DataTypeOperatorResponseDto"}}},"security":[{"oauth2":["ac01bf51-2ad3-4c6e-ae89-c060dbf8119b/.default"]}]}},"/V1/Reporting/AdvancedFilters":{"post":{"tags":["Reporting"],"consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.AdvancedFiltersRequestDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.AdvancedFiltersResponseDto"}}},"security":[{"oauth2":["ac01bf51-2ad3-4c6e-ae89-c060dbf8119b/.default"]}]}},"/V1/Reporting/DesignerHeaderInquiry":{"post":{"tags":["Reporting"],"consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.Designer.HeaderRequestDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.Designer.HeaderResponseDto"}}},"security":[{"oauth2":["ac01bf51-2ad3-4c6e-ae89-c060dbf8119b/.default"]}]}},"/V1/Reporting/VerifyReportExistence/{reportId}":{"get":{"tags":["Reporting"],"consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"reportId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}}},"security":[{"oauth2":["ac01bf51-2ad3-4c6e-ae89-c060dbf8119b/.default"]}]}},"/V1/Reporting/SaveDesignerHeader":{"post":{"tags":["Reporting"],"consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.Designer.HeaderRequestDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.Designer.HeaderResponseDto"}}},"security":[{"oauth2":["ac01bf51-2ad3-4c6e-ae89-c060dbf8119b/.default"]}]}},"/V1/Reporting/DesignerDataInquiry":{"post":{"tags":["Reporting"],"consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.Designer.DataRequestDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.Designer.DataResponseDto"}}},"security":[{"oauth2":["ac01bf51-2ad3-4c6e-ae89-c060dbf8119b/.default"]}]}},"/V1/Reporting/DesignerDataRecordsCount":{"post":{"tags":["Reporting"],"consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.Designer.DataRequestDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.Designer.DataRecordsCountResponseDto"}}},"security":[{"oauth2":["ac01bf51-2ad3-4c6e-ae89-c060dbf8119b/.default"]}]}},"/V1/Reporting/SaveDesignerData":{"post":{"tags":["Reporting"],"consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.Designer.DataRequestDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.Designer.DataResponseDto"}}},"security":[{"oauth2":["ac01bf51-2ad3-4c6e-ae89-c060dbf8119b/.default"]}]}},"/V1/Reporting/SaveDesignerColumnConfig":{"post":{"tags":["Reporting"],"consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.Designer.ColumnConfigRequestDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.Designer.ColumnConfigResponseDto"}}},"security":[{"oauth2":["ac01bf51-2ad3-4c6e-ae89-c060dbf8119b/.default"]}]}},"/V1/Reporting/DesignerColumnConfigInquiry":{"post":{"tags":["Reporting"],"consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.Designer.ColumnConfigRequestDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.Designer.ColumnConfigResponseDto"}}},"security":[{"oauth2":["ac01bf51-2ad3-4c6e-ae89-c060dbf8119b/.default"]}]}},"/V1/Reporting/DesignerColumnConfigDataInquiry":{"post":{"tags":["Reporting"],"consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.Designer.ColumnConfigRequestDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.Designer.ColumnConfigResponseDto"}}},"security":[{"oauth2":["ac01bf51-2ad3-4c6e-ae89-c060dbf8119b/.default"]}]}},"/V1/Reporting/GetSchedules":{"post":{"tags":["Reporting"],"consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.Scheduler.ScheduleRequestDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.Scheduler.ScheduleResponseDto"}}},"security":[{"oauth2":["ac01bf51-2ad3-4c6e-ae89-c060dbf8119b/.default"]}]}},"/V1/Reporting/GetScheduleDetail":{"post":{"tags":["Reporting"],"consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.Scheduler.ScheduleDetailRequestDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.Scheduler.ScheduleDetailResponseDto"}}},"security":[{"oauth2":["ac01bf51-2ad3-4c6e-ae89-c060dbf8119b/.default"]}]}},"/V1/Reporting/VerifyScheduleExistence":{"post":{"tags":["Reporting"],"consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.Scheduler.SaveScheduleDetailRequestDto"}}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}}},"security":[{"oauth2":["ac01bf51-2ad3-4c6e-ae89-c060dbf8119b/.default"]}]}},"/V1/Reporting/GetScheduleReportDateColumns":{"post":{"tags":["Reporting"],"consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.Scheduler.ScheduleReportDateColumnsRequestDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.Scheduler.ScheduleReportDateColumnsResponseDto"}}},"security":[{"oauth2":["ac01bf51-2ad3-4c6e-ae89-c060dbf8119b/.default"]}]}},"/V1/Reporting/GetScheduleReportClientEmails":{"post":{"tags":["Reporting"],"consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.Scheduler.ScheduleReportEmailRequestDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.Scheduler.ScheduleReportEmailResponseDto"}}},"security":[{"oauth2":["ac01bf51-2ad3-4c6e-ae89-c060dbf8119b/.default"]}]}},"/V1/Reporting/GetScheduleReportUserEmails":{"post":{"tags":["Reporting"],"consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.Scheduler.ScheduleReportEmailRequestDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.Scheduler.ScheduleReportEmailResponseDto"}}},"security":[{"oauth2":["ac01bf51-2ad3-4c6e-ae89-c060dbf8119b/.default"]}]}},"/V1/Reporting/GetBulkGlobalVariables":{"post":{"tags":["Reporting"],"consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.BulkGlobalVariable.BulkGlobalVariableRequestDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.BulkGlobalVariable.BulkGlobalVariableResponseDto"}}},"security":[{"oauth2":["ac01bf51-2ad3-4c6e-ae89-c060dbf8119b/.default"]}]}},"/V1/Reporting/SaveSchedule":{"post":{"tags":["Reporting"],"consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.Scheduler.SaveScheduleDetailRequestDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.Scheduler.ScheduleDetailResponseDto"}}},"security":[{"oauth2":["ac01bf51-2ad3-4c6e-ae89-c060dbf8119b/.default"]}]}},"/V1/Reporting/SaveScheduleDetail":{"post":{"tags":["Reporting"],"consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.Scheduler.SaveScheduleDetailRequestDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.Scheduler.ScheduleDetailResponseDto"}}},"security":[{"oauth2":["ac01bf51-2ad3-4c6e-ae89-c060dbf8119b/.default"]}]}},"/V1/ResourceGroups/{resourceGroupId}":{"get":{"tags":["ResourceGroups"],"consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"resourceGroupId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":["ac01bf51-2ad3-4c6e-ae89-c060dbf8119b/.default"]}]}},"/V1/Resources/{resourceKey}":{"get":{"tags":["Resources"],"consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"resourceKey","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":["ac01bf51-2ad3-4c6e-ae89-c060dbf8119b/.default"]}]}},"/V1/ResourceTypes/{resourceTypeId}":{"get":{"tags":["ResourceTypes"],"consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"resourceTypeId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":["ac01bf51-2ad3-4c6e-ae89-c060dbf8119b/.default"]}]}},"/V1/ResourceValues/{resourceKey}":{"get":{"tags":["ResourceValues"],"consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"resourceKey","in":"path","required":true,"type":"string"},{"name":"cultureId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":["ac01bf51-2ad3-4c6e-ae89-c060dbf8119b/.default"]}]}},"/V1/Systems/{systemId}/MenuItems/{menuItemId}":{"get":{"tags":["SystemMenuItems"],"consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"systemId","in":"path","required":true,"type":"string"},{"name":"menuItemId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":["ac01bf51-2ad3-4c6e-ae89-c060dbf8119b/.default"]}]}},"/V1/Systems/{systemId}/Menus/{menuType}":{"get":{"tags":["SystemMenus"],"consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"systemId","in":"path","required":true,"type":"string"},{"name":"menuType","in":"path","required":true,"type":"string"},{"name":"menuItemId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":["ac01bf51-2ad3-4c6e-ae89-c060dbf8119b/.default"]}]}},"/V1/WarmUp/Get":{"get":{"tags":["WarmUp"],"summary":"The get.","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}}},"definitions":{"Fiserv.Messaging.Api.V1.SharedConfig.CodeTableMaintenanceGroupsDto":{"type":"object","properties":{"GroupId":{"type":"string"},"GroupName":{"type":"string"},"ClaimType":{"type":"string"},"ClaimValue":{"type":"string"}}},"Fiserv.Messaging.Api.V1.SharedConfig.CodeTableMaintenanceResponseDto":{"type":"object","properties":{"ParameterDynamicGridData":{"type":"object","additionalProperties":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.SharedConfig.CodeTableMaintenanceParameterDto"}}},"ParameterSystemDefaultGridData":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.SharedConfig.CodeTableMaintenanceParameterDto"}},"TableDictionaries":{"type":"array","items":{"type":"string"}},"NonParameterTableData":{"type":"object"},"ClientIdAndName":{"type":"object","additionalProperties":{"type":"string"}},"LobErrors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.LobError"}},"HasLobErrors":{"type":"boolean"},"TenantContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.TenantContext"},"ActivityContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.ActivityContext"},"Errors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.BaseError"}},"HasErrors":{"type":"boolean"}}},"Fiserv.Messaging.Api.V1.SharedConfig.CodeTableMaintenanceParameterDto":{"type":"object","properties":{"ServicerId":{"type":"string"},"TableName":{"type":"string"},"UserId":{"type":"string"},"ClientName":{"type":"string"},"ClientId":{"type":"string"},"ParameterId":{"type":"string"},"LoanProductCode":{"type":"string"},"ParameterValue":{"type":"string"},"ParameterDescription":{"type":"string"},"OtherValue1":{"type":"string"},"OtherValue2":{"type":"string"},"OtherValue3":{"type":"string"},"OtherValue4":{"type":"string"},"OtherValue5":{"type":"string"},"SortOrder":{"format":"int32","type":"integer"},"Active":{"type":"string"},"Default":{"type":"string"},"ActiveFromDate":{"format":"date-time","type":"string"},"ActiveToDate":{"format":"date-time","type":"string"},"LastUpdateUser":{"type":"string"},"LastUpdateDate":{"format":"date-time","type":"string"}}},"Fiserv.Messaging.Common.LobError":{"type":"object","properties":{"ErrorResourceKey":{"type":"string"},"ExceptionMessage":{"type":"string"},"StackTrace":{"type":"string"},"ErrorCode":{"type":"string"},"Description":{"type":"string"},"IsBusinessError":{"type":"boolean"},"EventLogId":{"format":"uuid","type":"string"}}},"Fiserv.Messaging.Common.TenantContext":{"type":"object","properties":{"ConsumerSystemId":{"type":"string"},"ClientId":{"type":"string"},"ConsumerEnvironmentId":{"type":"string"},"TenantId":{"type":"string"}}},"Fiserv.Messaging.Common.ActivityContext":{"type":"object","properties":{"AccountGroupId":{"type":"string"},"AccountId":{"type":"string"},"UserId":{"type":"string"},"ActivityId":{"type":"string"},"StubMode":{"format":"int32","enum":[0,1,2],"type":"integer"},"Operation":{"format":"int32","enum":[0,1,2],"type":"integer"},"TimeoutSeconds":{"format":"int32","type":"integer"}}},"Fiserv.Messaging.Common.BaseError":{"type":"object","properties":{"ErrorCode":{"type":"string"},"Description":{"type":"string"},"IsBusinessError":{"type":"boolean"},"EventLogId":{"format":"uuid","type":"string"}}},"Fiserv.Messaging.Api.V1.SharedConfig.ForeignKeyDataResponseDto":{"type":"object","properties":{"ForeignKeysData":{"type":"object","additionalProperties":{"type":"object","additionalProperties":{"type":"string"}}},"LobErrors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.LobError"}},"HasLobErrors":{"type":"boolean"},"TenantContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.TenantContext"},"ActivityContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.ActivityContext"},"Errors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.BaseError"}},"HasErrors":{"type":"boolean"}}},"Fiserv.Messaging.Ltr.V1.Dto.LetterSend.LetterSendRequestDto":{"type":"object","properties":{"DocId":{"format":"uuid","type":"string"},"AccountEventId":{"format":"uuid","type":"string"},"EmailDelivery":{"$ref":"#/definitions/Fiserv.Messaging.Ltr.V1.Commands.EmailDestination"},"FaxDelivery":{"$ref":"#/definitions/Fiserv.Messaging.Ltr.V1.Commands.FaxDestination"},"PrintDelivery":{"$ref":"#/definitions/Fiserv.Messaging.Ltr.V1.Commands.PrintDestination"},"DropLocation":{"$ref":"#/definitions/Fiserv.Messaging.Ltr.V1.Commands.DropDestination"},"Properties":{"type":"object","additionalProperties":{"type":"object"},"readOnly":true},"TenantContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.TenantContext"},"ActivityContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.ActivityContext"},"Errors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.BaseError"}},"HasErrors":{"type":"boolean"}}},"Fiserv.Messaging.Ltr.V1.Commands.EmailDestination":{"type":"object","properties":{"ToEmailId":{"type":"string"},"FromEmailId":{"type":"string"},"EmailSubject":{"type":"string"},"EmailBody":{"type":"string"},"IsHtml":{"type":"boolean"},"FileName":{"type":"string"},"Errors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.BaseError"}},"HasErrors":{"type":"boolean"}}},"Fiserv.Messaging.Ltr.V1.Commands.FaxDestination":{"type":"object","properties":{"DocId":{"format":"uuid","type":"string"},"SendDateTime":{"format":"date-time","type":"string"},"BillingInfo1":{"type":"string"},"BillingInfo2":{"type":"string"},"FaxUser":{"type":"string"},"ToName":{"type":"string"},"FromName":{"type":"string"},"ToFaxNumber":{"type":"string"},"ToCompanyName":{"type":"string"},"FromCompanyName":{"type":"string"},"FaxUniqueId":{"format":"uuid","type":"string"},"FileName":{"type":"string"},"Errors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.BaseError"}},"HasErrors":{"type":"boolean"}}},"Fiserv.Messaging.Ltr.V1.Commands.PrintDestination":{"type":"object","properties":{"DestinationUri":{"type":"string"}}},"Fiserv.Messaging.Ltr.V1.Commands.DropDestination":{"type":"object","properties":{"DropLocation":{"type":"string"},"IsNetworkPath":{"type":"boolean"},"IsAuthorizationRequired":{"type":"boolean"},"Domain":{"type":"string"},"UserName":{"type":"string"},"Password":{"type":"string"},"DestinationFileName":{"type":"string"},"SourceFileName":{"type":"string"}}},"Fiserv.Messaging.Ltr.V1.Dto.CreateLetter.LetterMergeRequestDto":{"type":"object","properties":{"LetterGuid":{"format":"uuid","type":"string"},"MergeData":{"$ref":"#/definitions/Fiserv.Messaging.Common.Dto.DictionaryDataContainer"},"LetterDeliverRequest":{"$ref":"#/definitions/Fiserv.Messaging.Ltr.V1.Commands.LetterDeliveryRequestDto"}}},"Fiserv.Messaging.Common.Dto.DictionaryDataContainer":{"type":"object","properties":{"DictionaryData":{"type":"object","additionalProperties":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.Dto.DictionaryDataValue"}}},"ConsumerStateMap":{"type":"object","additionalProperties":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.Dto.DictionaryDataKey"}}}}},"Fiserv.Messaging.Ltr.V1.Commands.LetterDeliveryRequestDto":{"type":"object","properties":{"DocId":{"type":"array","items":{"format":"uuid","type":"string"}},"DeliveryModes":{"type":"array","items":{"format":"int32","enum":[0,1,2,3,4,5,6],"type":"integer"}},"OnlineDelivery":{"$ref":"#/definitions/Fiserv.Messaging.Ltr.V1.Commands.OnlineDetails"},"EmailDelivery":{"$ref":"#/definitions/Fiserv.Messaging.Ltr.V1.Commands.EmailDestination"},"FaxDelivery":{"$ref":"#/definitions/Fiserv.Messaging.Ltr.V1.Commands.FaxDestination"},"PrintDelivery":{"$ref":"#/definitions/Fiserv.Messaging.Ltr.V1.Commands.PrintDestination"},"DropLocation":{"$ref":"#/definitions/Fiserv.Messaging.Ltr.V1.Commands.DropDestination"},"StageBatchPrintDelivery":{"$ref":"#/definitions/Fiserv.Messaging.Ltr.V1.Commands.StageBatchPrintDestination"},"BatchPrintDelivery":{"$ref":"#/definitions/Fiserv.Messaging.Ltr.V1.Commands.BatchPrintDestination"},"OnlineOutsideAccountDelivery":{"$ref":"#/definitions/Fiserv.Messaging.Ltr.V1.Commands.OnlineOutsideAccountDestination"},"Path":{"type":"string"},"LetterId":{"type":"string"},"LetterProcessDate":{"format":"date-time","type":"string"},"Properties":{"type":"object","additionalProperties":{"type":"object"},"readOnly":true},"TenantContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.TenantContext"},"ActivityContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.ActivityContext"},"Errors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.BaseError"}},"HasErrors":{"type":"boolean"}}},"Fiserv.Messaging.Common.Dto.DictionaryDataValue":{"type":"object","properties":{"Keys":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.Dto.DictionaryDataKey"}},"Value":{"type":"string"},"CrossReferencedValue":{"type":"string"},"CrossReferencedDataDictionaryId":{"type":"string"}}},"Fiserv.Messaging.Common.Dto.DictionaryDataKey":{"type":"object","properties":{"ColumnName":{"type":"string"},"ColumnValue":{"type":"string"},"DataDictionaryId":{"type":"string"}}},"Fiserv.Messaging.Ltr.V1.Commands.OnlineDetails":{"type":"object","properties":{"Errors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.BaseError"}},"HasErrors":{"type":"boolean"}}},"Fiserv.Messaging.Ltr.V1.Commands.StageBatchPrintDestination":{"type":"object","properties":{"Certified":{"type":"boolean"},"BusinessProcessId":{"type":"string"},"RecipientType":{"type":"string"},"RecipientTypeCode":{"type":"string"},"RecipientId":{"type":"string"},"RecipientName":{"type":"string"},"LetterDescription":{"type":"string"},"PublishedId":{"format":"uuid","type":"string"},"LanguageCode":{"type":"string"},"DataContainer":{"type":"string"},"CountryCode":{"type":"string"},"DepartmentId":{"type":"string"},"FirstName":{"type":"string"},"LastName":{"type":"string"},"MiddleName":{"type":"string"},"Address1":{"type":"string"},"Address2":{"type":"string"},"Address3":{"type":"string"},"City":{"type":"string"},"State":{"type":"string"},"Zip":{"type":"string"},"GridData":{"type":"string"}}},"Fiserv.Messaging.Ltr.V1.Commands.BatchPrintDestination":{"type":"object","properties":{"FilePath":{"type":"string"},"FileName":{"type":"string"}}},"Fiserv.Messaging.Ltr.V1.Commands.OnlineOutsideAccountDestination":{"type":"object","properties":{"OtherParameters":{"$ref":"#/definitions/Fiserv.Messaging.Ltr.V1.Dto.SaleSheetLetter.ConsolidatedVehicleSaleSheetDto"},"TypeOfDelivery":{"format":"int32","enum":[0,1,2,3,4,5,6,7],"type":"integer"},"TitleDeliveryLetter":{"$ref":"#/definitions/Fiserv.Messaging.Ltr.V1.Dto.TitleDeliveryLetter.TitleDeliveryLetterDto"},"IsRemarketing":{"type":"boolean"},"FileName":{"type":"string"},"IsConsolidatedLetter":{"type":"boolean"},"Errors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.BaseError"}},"HasErrors":{"type":"boolean"}}},"Fiserv.Messaging.Ltr.V1.Dto.SaleSheetLetter.ConsolidatedVehicleSaleSheetDto":{"type":"object","properties":{"AuctionVendorIdList":{"type":"string"},"SaleDate":{"format":"date-time","type":"string"},"ServicerId":{"type":"string"},"AccountId":{"format":"int32","type":"integer"},"ClientId":{"type":"string"},"AccountEventId":{"format":"uuid","type":"string"}}},"Fiserv.Messaging.Ltr.V1.Dto.TitleDeliveryLetter.TitleDeliveryLetterDto":{"type":"object","properties":{"TitleDeliveryRequestIds":{"type":"array","items":{"format":"uuid","type":"string"}},"ServicerId":{"type":"string"},"RecipientId":{"type":"string"},"LetterDocId":{"format":"uuid","type":"string"},"AccountDetails":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Ltr.V1.Dto.TitleDeliveryLetter.AccountTitleDelivery"}}}},"Fiserv.Messaging.Ltr.V1.Dto.TitleDeliveryLetter.AccountTitleDelivery":{"type":"object","properties":{"ServicerId":{"type":"string"},"ClientId":{"type":"string"},"AccountId":{"format":"int32","type":"integer"},"AccountEventNbr":{"format":"int64","type":"integer"},"BorrowerId":{"type":"string"},"BorrowerTypeCode":{"type":"string"}}},"Fiserv.Messaging.Ltr.V1.Dto.TestMergeRequestDto":{"type":"object","properties":{"ResolvedData":{"$ref":"#/definitions/Fiserv.Messaging.Common.Dto.DictionaryDataContainer"},"Properties":{"type":"object","additionalProperties":{"type":"object"},"readOnly":true},"TenantContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.TenantContext"},"ActivityContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.ActivityContext"},"Errors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.BaseError"}},"HasErrors":{"type":"boolean"}}},"Fiserv.Messaging.Ltr.V1.Dto.Letter.LetterRequestDto":{"type":"object","properties":{"Letter":{"$ref":"#/definitions/Fiserv.Messaging.Ltr.V1.Dto.Letter.LetterDto"},"DataDictionaryIds":{"type":"array","items":{"type":"string"}},"TenantContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.TenantContext"},"ActivityContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.ActivityContext"},"Errors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.BaseError"}},"HasErrors":{"type":"boolean"}}},"Fiserv.Messaging.Ltr.V1.Dto.Letter.LetterDto":{"type":"object","properties":{"LetterGuid":{"format":"uuid","type":"string"},"PageOrientation":{"format":"int32","type":"integer"},"Template":{"type":"string"},"IsEmailDeliverySupported":{"format":"int32","type":"integer"},"EnvironmentId":{"type":"string"},"SystemId":{"type":"string"},"TenantId":{"type":"string"},"ClientId":{"type":"string"},"LetterId":{"type":"string"},"LetterDescription":{"type":"string"},"LanguageCode":{"type":"string"}}},"Fiserv.Messaging.Ltr.V1.Dto.SaleSheetLetter.ConsolidationRequestDto":{"type":"object","properties":{"DocIds":{"type":"array","items":{"format":"uuid","type":"string"}},"OnlineOutsideAccountDestinationDetail":{"$ref":"#/definitions/Fiserv.Messaging.Ltr.V1.Commands.OnlineOutsideAccountDestination"},"UsePdfMerging":{"type":"boolean"}}},"Fiserv.Messaging.Ltr.V1.Commands.LetterCreationRequest":{"type":"object","properties":{"PublishedLetterId":{"format":"uuid","type":"string"},"MergeData":{"$ref":"#/definitions/Fiserv.Messaging.Common.Dto.DictionaryDataContainer"},"DocumentId":{"format":"uuid","type":"string"},"LetterDeliverRequest":{"$ref":"#/definitions/Fiserv.Messaging.Ltr.V1.Commands.LetterDeliveryRequest"},"TypeCode":{"type":"string"},"BorrowerId":{"type":"string"},"AccountEventId":{"format":"uuid","type":"string"},"LogoId":{"type":"string"},"BatchLookupId":{"format":"uuid","type":"string"},"GridData":{"type":"string"},"FromFont":{"type":"string"},"ToFont":{"type":"string"},"RequestedFromBatch":{"type":"boolean"},"Properties":{"type":"object","additionalProperties":{"type":"object"},"readOnly":true},"TenantContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.TenantContext"},"ActivityContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.ActivityContext"},"Errors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.BaseError"}},"HasErrors":{"type":"boolean"}}},"Fiserv.Messaging.Ltr.V1.Commands.LetterDeliveryRequest":{"type":"object","properties":{"DocumentId":{"format":"uuid","type":"string"},"DeliveryMode":{"format":"int32","enum":[0,1,2,3,4,5,6],"type":"integer"},"OnlineDelivery":{"$ref":"#/definitions/Fiserv.Messaging.Ltr.V1.Commands.OnlineDetails"},"EmailDelivery":{"$ref":"#/definitions/Fiserv.Messaging.Ltr.V1.Commands.EmailDestination"},"FaxDelivery":{"$ref":"#/definitions/Fiserv.Messaging.Ltr.V1.Commands.FaxDestination"},"PrintDelivery":{"$ref":"#/definitions/Fiserv.Messaging.Ltr.V1.Commands.PrintDestination"},"DropLocation":{"$ref":"#/definitions/Fiserv.Messaging.Ltr.V1.Commands.DropDestination"},"StageBatchPrintDelivery":{"$ref":"#/definitions/Fiserv.Messaging.Ltr.V1.Commands.StageBatchPrintDestination"},"BatchPrintDelivery":{"$ref":"#/definitions/Fiserv.Messaging.Ltr.V1.Commands.BatchPrintDestination"},"OnlineOutsideAccountDelivery":{"$ref":"#/definitions/Fiserv.Messaging.Ltr.V1.Commands.OnlineOutsideAccountDestination"},"Path":{"type":"string"},"LetterId":{"type":"string"},"LetterProcessDate":{"format":"date-time","type":"string"},"Properties":{"type":"object","additionalProperties":{"type":"object"},"readOnly":true},"TenantContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.TenantContext"},"ActivityContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.ActivityContext"},"Errors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.BaseError"}},"HasErrors":{"type":"boolean"}}},"Fiserv.Messaging.Ltr.V1.Dto.Letter.PendingLetterPreviewRequest":{"type":"object","properties":{"ServicerId":{"type":"string"},"ClientId":{"type":"string"},"AccountId":{"format":"int32","type":"integer"},"BorrowerTypeCode":{"type":"string"},"LetterProcessDate":{"format":"date-time","type":"string"},"BusinessProcessId":{"type":"string"},"LetterId":{"type":"string"}}},"Fiserv.Messaging.Ltr.V1.Commands.LetterResponse":{"type":"object","properties":{"LetterGuid":{"format":"uuid","type":"string"},"ProcessDateTime":{"format":"date-time","type":"string"},"MissingMergeDataDictionaryId":{"type":"array","items":{"type":"string"}},"MergedLetter":{"format":"byte","type":"string"},"TenantContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.TenantContext"},"ActivityContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.ActivityContext"},"Errors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.BaseError"}},"HasErrors":{"type":"boolean"}}},"Fiserv.Messaging.Ltr.V1.Dto.Letter.LetterPreviewRequest":{"type":"object","properties":{"AccountId":{"format":"int32","type":"integer"},"BorrowerId":{"type":"string"},"BorrowerTypeCode":{"type":"string"},"ClientId":{"type":"string"},"DepartmentId":{"type":"string"},"EffectiveDate":{"format":"date-time","type":"string"},"ExternalData":{"type":"object","additionalProperties":{"type":"string"}},"LetterId":{"type":"string"},"ServicerId":{"type":"string"}}},"Fiserv.Messaging.Api.V1.Reporting.DynamicReportRequestDto":{"type":"object","properties":{"Source":{"type":"string"},"Tenant":{"type":"string"},"Domain":{"type":"string"},"ReportName":{"type":"string"},"PageSize":{"type":"string"},"DepartmentId":{"type":"string"},"CurrentPage":{"type":"string"},"PivotGridFlag":{"type":"string"},"ExportDataFlag":{"type":"string"},"ShouldLog":{"type":"boolean"},"UserId":{"type":"string"},"Criteria":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.GridTypeFilterDto"}},"AdvancedFilters":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.TypeAdvancedFilterDto"}},"SortingList":{"type":"string"},"LobErrors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.LobError"}},"HasLobErrors":{"type":"boolean"},"TenantContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.TenantContext"},"ActivityContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.ActivityContext"},"Errors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.BaseError"}},"HasErrors":{"type":"boolean"}}},"Fiserv.Messaging.Api.V1.Reporting.GridTypeFilterDto":{"type":"object","properties":{"FilterOperator":{"format":"int32","enum":[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14],"type":"integer"},"ColumnName":{"type":"string"},"Value":{"type":"string"}}},"Fiserv.Messaging.Api.V1.Reporting.TypeAdvancedFilterDto":{"type":"object","properties":{"Group":{"format":"int32","type":"integer"},"Condition":{"type":"string"},"ColumnName":{"type":"string"},"Operator":{"type":"string"},"ColumnValue1":{"type":"string"},"ColumnValue1Category":{"type":"string"},"ColumnValue2":{"type":"string"},"ColumnValue2Category":{"type":"string"},"ColumnDataType":{"type":"string"}}},"Fiserv.Messaging.Api.V1.Reporting.DynamicReportResponseDto":{"type":"object","properties":{"DynamicReportColumns":{"type":"array","items":{"type":"string"}},"DynamicReportData":{"type":"string"},"ReportTotalRows":{"format":"int32","type":"integer"},"LobErrors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.LobError"}},"HasLobErrors":{"type":"boolean"},"TenantContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.TenantContext"},"ActivityContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.ActivityContext"},"Errors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.BaseError"}},"HasErrors":{"type":"boolean"}}},"Fiserv.Messaging.Api.V1.Reporting.DomainRequestDto":{"type":"object","properties":{"Source":{"type":"string"},"Tenant":{"type":"string"},"LobErrors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.LobError"}},"HasLobErrors":{"type":"boolean"},"TenantContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.TenantContext"},"ActivityContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.ActivityContext"},"Errors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.BaseError"}},"HasErrors":{"type":"boolean"}}},"Fiserv.Messaging.Api.V1.Reporting.DomainResponseDto":{"type":"object","properties":{"DomainsList":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.DomainDto"}},"LobErrors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.LobError"}},"HasLobErrors":{"type":"boolean"},"TenantContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.TenantContext"},"ActivityContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.ActivityContext"},"Errors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.BaseError"}},"HasErrors":{"type":"boolean"}}},"Fiserv.Messaging.Api.V1.Reporting.DomainDto":{"type":"object","properties":{"ReportTypeId":{"type":"string"},"ReportTypeDescription":{"type":"string"}}},"Fiserv.Messaging.Api.V1.Reporting.ReportRequestDto":{"type":"object","properties":{"Source":{"type":"string"},"Tenant":{"type":"string"},"Domain":{"type":"string"},"Category":{"type":"string"},"ClientLoginOrgList":{"type":"string"},"ListInactiveReportFlag":{"type":"string"},"LobErrors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.LobError"}},"HasLobErrors":{"type":"boolean"},"TenantContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.TenantContext"},"ActivityContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.ActivityContext"},"Errors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.BaseError"}},"HasErrors":{"type":"boolean"}}},"Fiserv.Messaging.Api.V1.Reporting.CategoryResponseDto":{"type":"object","properties":{"CategoryList":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.CategoryDto"}},"LobErrors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.LobError"}},"HasLobErrors":{"type":"boolean"},"TenantContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.TenantContext"},"ActivityContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.ActivityContext"},"Errors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.BaseError"}},"HasErrors":{"type":"boolean"}}},"Fiserv.Messaging.Api.V1.Reporting.CategoryDto":{"type":"object","properties":{"ReportCategoryId":{"type":"string"},"ReportCategoryDescription":{"type":"string"}}},"Fiserv.Messaging.Api.V1.Reporting.ReportResponseDto":{"type":"object","properties":{"ReportList":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.ReportDto"}}}},"Fiserv.Messaging.Api.V1.Reporting.ReportDto":{"type":"object","properties":{"ReportId":{"type":"string"},"ReportDescription":{"type":"string"},"ReportDate":{"type":"string"},"LoginOrgDependent":{"type":"string"},"ClientDependent":{"type":"string"},"DataSource":{"type":"string"},"PivotChartType":{"type":"string"},"SortingList":{"type":"string"},"FilterList":{"type":"string"},"RequiredFilterList":{"type":"string"},"ColumnList":{"type":"string"},"DefaultColumnList":{"type":"string"},"PivotColumnList":{"type":"string"},"PivotMeasureList":{"type":"string"},"PivotPercentList":{"type":"string"},"DefaultPivotRowList":{"type":"string"},"DefaultPivotColumnList":{"type":"string"},"DefaultPivotMeasure":{"type":"string"},"ApplicableClientLoginOrgList":{"type":"string"},"NewSaveAsFlag":{"type":"string"},"SourceReportId":{"type":"string"},"ActiveFlag":{"type":"string"},"ReportSelectFlag":{"type":"string"},"BaseReportFlag":{"type":"string"},"LastUpdateUser":{"type":"string"},"LastUpdateDate":{"format":"date-time","type":"string"},"ExcelExportMaxRows":{"format":"int32","type":"integer"},"PdfExportMaxRows":{"format":"int32","type":"integer"},"ClearClientOrgParentSelection":{"type":"boolean"},"DefaultClientLoginOrgList":{"type":"string"},"DefaultOrderBy":{"type":"string"},"ReadinessState":{"type":"string"},"IsAutoJoined":{"type":"boolean"},"ShouldDisplayPivotAsDefault":{"type":"boolean"},"FixedFilter":{"type":"string"}}},"Fiserv.Messaging.Api.V1.Reporting.FilterDataRequestDto":{"type":"object","properties":{"Source":{"type":"string"},"Tenant":{"type":"string"},"Domain":{"type":"string"},"Category":{"type":"string"},"Client":{"type":"string"},"Report":{"type":"string"},"FilterColumn":{"type":"string"},"IsForDesigner":{"type":"boolean"},"LobErrors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.LobError"}},"HasLobErrors":{"type":"boolean"},"TenantContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.TenantContext"},"ActivityContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.ActivityContext"},"Errors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.BaseError"}},"HasErrors":{"type":"boolean"}}},"Fiserv.Messaging.Api.V1.Reporting.FilterDataResponseDto":{"type":"object","properties":{"FilterData":{"type":"array","items":{"type":"string"}},"FilterDefaults":{"type":"array","items":{"type":"string"}},"FilterType":{"type":"string"}}},"Fiserv.Messaging.Api.V1.Reporting.ServicerClientLogOrgRequestDto":{"type":"object","properties":{"ServicerId":{"type":"string"},"ClientId":{"type":"string"},"LogOrgId":{"type":"string"},"LobErrors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.LobError"}},"HasLobErrors":{"type":"boolean"},"TenantContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.TenantContext"},"ActivityContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.ActivityContext"},"Errors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.BaseError"}},"HasErrors":{"type":"boolean"}}},"Fiserv.Messaging.Api.V1.Reporting.ServicerClientLogOrgResponseDto":{"type":"object","properties":{"ServicerClientLogOrg":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.ServicerClientLogOrgDto"}},"LobErrors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.LobError"}},"HasLobErrors":{"type":"boolean"},"TenantContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.TenantContext"},"ActivityContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.ActivityContext"},"Errors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.BaseError"}},"HasErrors":{"type":"boolean"}}},"Fiserv.Messaging.Api.V1.Reporting.ServicerClientLogOrgDto":{"type":"object","properties":{"ServicerId":{"type":"string"},"ClientId":{"type":"string"},"LogOrgId":{"type":"string"}}},"Fiserv.Messaging.Api.V1.Reporting.ReportConfigurationRequestDto":{"type":"object","properties":{"TenantId":{"type":"string"},"GroupId":{"type":"string"},"ReportTypeId":{"type":"string"},"ReportId":{"type":"string"},"CategoryId":{"type":"string"},"LobErrors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.LobError"}},"HasLobErrors":{"type":"boolean"},"TenantContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.TenantContext"},"ActivityContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.ActivityContext"},"Errors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.BaseError"}},"HasErrors":{"type":"boolean"}}},"Fiserv.Messaging.Api.V1.Reporting.ReportConfigurationResponseDto":{"type":"object","properties":{"ReportConfiguration":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.ReportDto"},"ColumnsConfiguration":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.ColumnConfigurationDto"}},"LobErrors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.LobError"}},"HasLobErrors":{"type":"boolean"},"TenantContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.TenantContext"},"ActivityContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.ActivityContext"},"Errors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.BaseError"}},"HasErrors":{"type":"boolean"}}},"Fiserv.Messaging.Api.V1.Reporting.ColumnConfigurationDto":{"type":"object","properties":{"TenantId":{"type":"string"},"ReportId":{"type":"string"},"ReportCategoryId":{"type":"string"},"ColumnName":{"type":"string"},"DataType":{"type":"string"},"IsAnAdvanceFilter":{"type":"boolean"},"AlignJustification":{"type":"string"},"NumericFormat":{"type":"string"},"DateFormat":{"type":"string"},"MaskFormat":{"type":"string"},"DefaultColor":{"type":"string"},"ColorLogic":{"type":"string"},"CellWidthInPixels":{"format":"int32","type":"integer"},"LastUpdateUser":{"type":"string"},"LastUpdateDate":{"format":"date-time","type":"string"}}},"Fiserv.Messaging.Api.V1.Reporting.SaveAsRequestDto":{"type":"object","properties":{"Tenant":{"type":"string"},"Domain":{"type":"string"},"Action":{"type":"string"},"SourceReportId":{"type":"string"},"SourceReportCategory":{"type":"string"},"TargetReportId":{"type":"string"},"TargetReportCategory":{"type":"string"},"TargetReportCategoryDescription":{"type":"string"},"TargetClientLoginOrgList":{"type":"string"},"BaseReport":{"type":"string"},"GridColumns":{"type":"array","items":{"type":"string"}},"PivotRows":{"type":"array","items":{"type":"string"}},"PivotColumns":{"type":"array","items":{"type":"string"}},"PivotMeasure":{"type":"array","items":{"type":"string"}},"Filters":{"type":"array","items":{"type":"array","items":{"type":"string"}}},"AdvancedFilters":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.TypeAdvancedFilterDto"}},"ShouldSaveAdvancedFilters":{"type":"boolean"},"SortingList":{"type":"string"},"LobErrors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.LobError"}},"HasLobErrors":{"type":"boolean"},"TenantContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.TenantContext"},"ActivityContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.ActivityContext"},"Errors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.BaseError"}},"HasErrors":{"type":"boolean"}}},"Fiserv.Messaging.Api.V1.Reporting.Designer.DataSourceRequestDto":{"type":"object","properties":{"Source":{"type":"string"},"Tenant":{"type":"string"},"Domain":{"type":"string"},"Category":{"type":"string"},"ReadinessState":{"format":"int32","type":"integer"},"LobErrors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.LobError"}},"HasLobErrors":{"type":"boolean"},"TenantContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.TenantContext"},"ActivityContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.ActivityContext"},"Errors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.BaseError"}},"HasErrors":{"type":"boolean"}}},"Fiserv.Messaging.Api.V1.Reporting.Designer.DataSourceResponseDto":{"type":"object","properties":{"DataSourceList":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.Designer.DataSourceDto"}},"LobErrors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.LobError"}},"HasLobErrors":{"type":"boolean"},"TenantContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.TenantContext"},"ActivityContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.ActivityContext"},"Errors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.BaseError"}},"HasErrors":{"type":"boolean"}}},"Fiserv.Messaging.Api.V1.Reporting.Designer.DataSourceDto":{"type":"object","properties":{"Source":{"type":"string"},"Tenant":{"type":"string"},"Domain":{"type":"string"},"Category":{"type":"string"},"DataSource":{"type":"string"}}},"Fiserv.Messaging.Api.V1.Reporting.Designer.DataSourceColumnDetailRequestDto":{"type":"object","properties":{"DataSource":{"type":"string"},"Source":{"type":"string"},"Tenant":{"type":"string"},"Domain":{"type":"string"},"Category":{"type":"string"},"ReadinessState":{"format":"int32","type":"integer"},"LobErrors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.LobError"}},"HasLobErrors":{"type":"boolean"},"TenantContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.TenantContext"},"ActivityContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.ActivityContext"},"Errors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.BaseError"}},"HasErrors":{"type":"boolean"}}},"Fiserv.Messaging.Api.V1.Reporting.Designer.DataSourceColumnDetailResponseDto":{"type":"object","properties":{"DataSourceColumnsList":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.Designer.DataSourceColumnsDto"}},"LobErrors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.LobError"}},"HasLobErrors":{"type":"boolean"},"TenantContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.TenantContext"},"ActivityContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.ActivityContext"},"Errors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.BaseError"}},"HasErrors":{"type":"boolean"}}},"Fiserv.Messaging.Api.V1.Reporting.Designer.DataSourceColumnsDto":{"type":"object","properties":{"DataSource":{"type":"string"},"ColumnName":{"type":"string"},"DataType":{"type":"string"},"Position":{"format":"int32","type":"integer"},"LobErrors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.LobError"}},"HasLobErrors":{"type":"boolean"},"TenantContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.TenantContext"},"ActivityContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.ActivityContext"},"Errors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.BaseError"}},"HasErrors":{"type":"boolean"}}},"Fiserv.Messaging.Api.V1.Reporting.ServicerUserClientResponseDto":{"type":"object","properties":{"ServicerUserClients":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.ServicerUserClientDto"}},"LobErrors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.LobError"}},"HasLobErrors":{"type":"boolean"},"TenantContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.TenantContext"},"ActivityContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.ActivityContext"},"Errors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.BaseError"}},"HasErrors":{"type":"boolean"}}},"Fiserv.Messaging.Api.V1.Reporting.ServicerUserClientDto":{"type":"object","properties":{"LastUpdateDate":{"format":"date-time","type":"string"},"LastUpdateUser":{"type":"string"},"ServicerId":{"type":"string"},"UserId":{"type":"string"},"ClientId":{"type":"string"},"ClientName":{"type":"string"}}},"Fiserv.Messaging.Api.V1.Reporting.ReportMaintenanceRequestDto":{"type":"object","properties":{"Source":{"type":"string"},"Tenant":{"type":"string"},"Domain":{"type":"string"},"Category":{"type":"string"},"ClientLoginOrgList":{"type":"string"},"ListInactiveReportFlag":{"type":"string"},"ReportId":{"type":"string"},"ReportDescription":{"type":"string"},"ApplicableClientLoginOrgList":{"type":"string"},"ActiveFlag":{"type":"string"},"LastUpdateDate":{"type":"string"},"LastUpdateUser":{"type":"string"},"Action":{"type":"string"},"DefaultClientLoginOrgList":{"type":"string"},"ClientDependentFlag":{"type":"string"},"LoginOrgDependentFlag":{"type":"string"},"LobErrors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.LobError"}},"HasLobErrors":{"type":"boolean"},"TenantContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.TenantContext"},"ActivityContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.ActivityContext"},"Errors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.BaseError"}},"HasErrors":{"type":"boolean"}}},"Fiserv.Messaging.Api.V1.Reporting.ExportFileGenerationRequestDto":{"type":"object","properties":{"FileName":{"type":"string"},"Type":{"type":"string"},"PaperSize":{"type":"string"},"Margins":{"type":"string"},"Orientation":{"type":"string"},"ClientFilters":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.GridTypeFilterDto"}},"ClientColumns":{"type":"string"},"PivotColumns":{"type":"array","items":{"type":"string"}},"PivotRows":{"type":"array","items":{"type":"string"}},"PivotMeasures":{"type":"array","items":{"type":"string"}},"Header":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.BasicColumnValueDto"}},"Footer":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.BasicColumnValueDto"}},"ScheduleId":{"type":"string"},"ApplicableClients":{"type":"string"},"Source":{"type":"string"},"Tenant":{"type":"string"},"Domain":{"type":"string"},"ReportName":{"type":"string"},"PageSize":{"type":"string"},"DepartmentId":{"type":"string"},"CurrentPage":{"type":"string"},"PivotGridFlag":{"type":"string"},"ExportDataFlag":{"type":"string"},"ShouldLog":{"type":"boolean"},"UserId":{"type":"string"},"Criteria":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.GridTypeFilterDto"}},"AdvancedFilters":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.TypeAdvancedFilterDto"}},"SortingList":{"type":"string"},"LobErrors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.LobError"}},"HasLobErrors":{"type":"boolean"},"TenantContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.TenantContext"},"ActivityContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.ActivityContext"},"Errors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.BaseError"}},"HasErrors":{"type":"boolean"}}},"Fiserv.Messaging.Api.V1.Reporting.BasicColumnValueDto":{"type":"object","properties":{"ColumnName":{"type":"string"},"Value":{"type":"string"}}},"Fiserv.Messaging.Api.V1.Reporting.ExportFileGenerationResponseDto":{"type":"object","properties":{"Success":{"type":"boolean"},"LobErrors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.LobError"}},"HasLobErrors":{"type":"boolean"},"TenantContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.TenantContext"},"ActivityContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.ActivityContext"},"Errors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.BaseError"}},"HasErrors":{"type":"boolean"}}},"Fiserv.Messaging.Api.V1.Reporting.ExportedReportsRequestDto":{"type":"object","properties":{"DateRange":{"type":"string"},"FromDate":{"format":"date-time","type":"string"},"ToDate":{"format":"date-time","type":"string"},"UserReportOnly":{"type":"string"},"LoggedUserId":{"type":"string"},"ClientsLoginOrg":{"type":"string"},"Source":{"type":"string"},"Tenant":{"type":"string"},"Domain":{"type":"string"},"Category":{"type":"string"},"LobErrors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.LobError"}},"HasLobErrors":{"type":"boolean"},"TenantContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.TenantContext"},"ActivityContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.ActivityContext"},"Errors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.BaseError"}},"HasErrors":{"type":"boolean"}}},"Fiserv.Messaging.Api.V1.Reporting.ExportedReportsResponseDto":{"type":"object","properties":{"Reports":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.ExportedReportsDto"}},"LobErrors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.LobError"}},"HasLobErrors":{"type":"boolean"},"TenantContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.TenantContext"},"ActivityContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.ActivityContext"},"Errors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.BaseError"}},"HasErrors":{"type":"boolean"}}},"Fiserv.Messaging.Api.V1.Reporting.ExportedReportsDto":{"type":"object","properties":{"ReportId":{"type":"string"},"ReportDescription":{"type":"string"}}},"Fiserv.Messaging.Api.V1.Reporting.ExportedReportsDetailRequestDto":{"type":"object","properties":{"ReportId":{"type":"string"},"DateRange":{"type":"string"},"FromDate":{"format":"date-time","type":"string"},"ToDate":{"format":"date-time","type":"string"},"UserReportOnly":{"type":"string"},"LoggedUserId":{"type":"string"},"ClientsLoginOrg":{"type":"string"},"Source":{"type":"string"},"Tenant":{"type":"string"},"Domain":{"type":"string"},"Category":{"type":"string"},"LobErrors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.LobError"}},"HasLobErrors":{"type":"boolean"},"TenantContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.TenantContext"},"ActivityContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.ActivityContext"},"Errors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.BaseError"}},"HasErrors":{"type":"boolean"}}},"Fiserv.Messaging.Api.V1.Reporting.ExportedReportsDetailResponseDto":{"type":"object","properties":{"Reports":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.ExportedReportsDetailDto"}},"LobErrors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.LobError"}},"HasLobErrors":{"type":"boolean"},"TenantContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.TenantContext"},"ActivityContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.ActivityContext"},"Errors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.BaseError"}},"HasErrors":{"type":"boolean"}}},"Fiserv.Messaging.Api.V1.Reporting.ExportedReportsDetailDto":{"type":"object","properties":{"ReportGuid":{"type":"string"},"ReportStartDate":{"format":"date-time","type":"string"},"ReportEndDate":{"format":"date-time","type":"string"},"ReportStatus":{"type":"string"},"ReportFileName":{"type":"string"},"ReportType":{"type":"string"},"UserId":{"type":"string"},"UserName":{"type":"string"},"ReportId":{"type":"string"},"ReportDescription":{"type":"string"}}},"Fiserv.Messaging.Api.V1.Reporting.ExportedReportsFileStreamRequestDto":{"type":"object","properties":{"ReportId":{"type":"string"},"ReportGuid":{"type":"string"},"LoggedUserId":{"type":"string"},"Source":{"type":"string"},"Tenant":{"type":"string"},"Domain":{"type":"string"},"Category":{"type":"string"},"LobErrors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.LobError"}},"HasLobErrors":{"type":"boolean"},"TenantContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.TenantContext"},"ActivityContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.ActivityContext"},"Errors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.BaseError"}},"HasErrors":{"type":"boolean"}}},"Fiserv.Messaging.Api.V1.Reporting.ExportedReportsFileStreamResponseDto":{"type":"object","properties":{"ReportStreamBytes":{"format":"byte","type":"string"},"ReportFileName":{"type":"string"},"ReportFileType":{"type":"string"},"LobErrors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.LobError"}},"HasLobErrors":{"type":"boolean"},"TenantContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.TenantContext"},"ActivityContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.ActivityContext"},"Errors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.BaseError"}},"HasErrors":{"type":"boolean"}}},"Fiserv.Messaging.Api.V1.Reporting.Parameter.ParameterRequestDto":{"type":"object","properties":{"TableName":{"type":"string"},"ParameterId":{"type":"string"},"ProductType":{"type":"string"},"ClientId":{"type":"string"},"LobErrors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.LobError"}},"HasLobErrors":{"type":"boolean"},"TenantContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.TenantContext"},"ActivityContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.ActivityContext"},"Errors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.BaseError"}},"HasErrors":{"type":"boolean"}}},"Fiserv.Messaging.Api.V1.Reporting.Parameter.ParameterResponseDto":{"type":"object","properties":{"Parameters":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.Parameter.ParameterDto"}},"LobErrors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.LobError"}},"HasLobErrors":{"type":"boolean"},"TenantContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.TenantContext"},"ActivityContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.ActivityContext"},"Errors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.BaseError"}},"HasErrors":{"type":"boolean"}}},"Fiserv.Messaging.Api.V1.Reporting.Parameter.ParameterDto":{"type":"object","properties":{"TableName":{"type":"string"},"ParameterId":{"type":"string"},"ParameterValue":{"type":"string"},"ParameterDescription":{"type":"string"},"OtherValue1":{"type":"string"},"OtherValue2":{"type":"string"},"OtherValue3":{"type":"string"},"OtherValue4":{"type":"string"},"OtherValue5":{"type":"string"},"SortOrder":{"format":"int32","type":"integer"},"IsDefault":{"type":"string"}}},"Fiserv.Messaging.Api.V1.Reporting.DataTypeOperatorRequestDto":{"type":"object","properties":{"DataType":{"type":"string"},"LobErrors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.LobError"}},"HasLobErrors":{"type":"boolean"},"TenantContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.TenantContext"},"ActivityContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.ActivityContext"},"Errors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.BaseError"}},"HasErrors":{"type":"boolean"}}},"Fiserv.Messaging.Api.V1.Reporting.DataTypeOperatorResponseDto":{"type":"object","properties":{"OperatorList":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.DataTypeOperatorDto"}},"LobErrors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.LobError"}},"HasLobErrors":{"type":"boolean"},"TenantContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.TenantContext"},"ActivityContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.ActivityContext"},"Errors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.BaseError"}},"HasErrors":{"type":"boolean"}}},"Fiserv.Messaging.Api.V1.Reporting.DataTypeOperatorDto":{"type":"object","properties":{"DataTypeGroupId":{"type":"string"},"OperatorId":{"type":"string"},"DataTypeDescription":{"type":"string"},"OperatorLiteral":{"type":"string"}}},"Fiserv.Messaging.Api.V1.Reporting.AdvancedFiltersRequestDto":{"type":"object","properties":{"Source":{"type":"string"},"Tenant":{"type":"string"},"Domain":{"type":"string"},"Category":{"type":"string"},"ReportId":{"type":"string"},"ClientOrgList":{"type":"string"},"ScheduleId":{"type":"string"},"LobErrors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.LobError"}},"HasLobErrors":{"type":"boolean"},"TenantContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.TenantContext"},"ActivityContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.ActivityContext"},"Errors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.BaseError"}},"HasErrors":{"type":"boolean"}}},"Fiserv.Messaging.Api.V1.Reporting.AdvancedFiltersResponseDto":{"type":"object","properties":{"AdvancedFilterList":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.TypeAdvancedFilterDto"}},"LobErrors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.LobError"}},"HasLobErrors":{"type":"boolean"},"TenantContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.TenantContext"},"ActivityContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.ActivityContext"},"Errors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.BaseError"}},"HasErrors":{"type":"boolean"}}},"Fiserv.Messaging.Api.V1.Reporting.Designer.HeaderRequestDto":{"type":"object","properties":{"Source":{"type":"string"},"Tenant":{"type":"string"},"Domain":{"type":"string"},"Category":{"type":"string"},"ClientLoginOrgList":{"type":"string"},"ReadinessState":{"format":"int32","type":"integer"},"HeaderData":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.Designer.HeaderDto"},"LobErrors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.LobError"}},"HasLobErrors":{"type":"boolean"},"TenantContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.TenantContext"},"ActivityContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.ActivityContext"},"Errors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.BaseError"}},"HasErrors":{"type":"boolean"}}},"Fiserv.Messaging.Api.V1.Reporting.Designer.HeaderDto":{"type":"object","properties":{"IsActive":{"type":"boolean"},"LastUpdateUser":{"type":"string"},"LastUpdateDate":{"format":"date-time","type":"string"},"ReportId":{"type":"string"},"ReportDescription":{"type":"string"},"IsBaseReport":{"type":"boolean"},"IsGlobalReport":{"type":"boolean"},"ExcludeTenantIdList":{"type":"string"},"DefaultClientLoginOrg":{"type":"string"},"IsMultiDepartment":{"type":"boolean"},"ExcludeDepartmentIdList":{"type":"string"},"HasDistinctValue":{"type":"boolean"},"ClearParentSelection":{"type":"boolean"},"ExcelMaxRows":{"format":"int32","type":"integer"},"PdfMaxRows":{"format":"int32","type":"integer"},"Comments":{"type":"string"},"LobErrors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.LobError"}},"HasLobErrors":{"type":"boolean"},"TenantContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.TenantContext"},"ActivityContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.ActivityContext"},"Errors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.BaseError"}},"HasErrors":{"type":"boolean"}}},"Fiserv.Messaging.Api.V1.Reporting.Designer.HeaderResponseDto":{"type":"object","properties":{"Source":{"type":"string"},"Tenant":{"type":"string"},"Domain":{"type":"string"},"Category":{"type":"string"},"ClientLoginOrgList":{"type":"string"},"HeaderData":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.Designer.HeaderDto"},"LobErrors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.LobError"}},"HasLobErrors":{"type":"boolean"},"TenantContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.TenantContext"},"ActivityContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.ActivityContext"},"Errors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.BaseError"}},"HasErrors":{"type":"boolean"}}},"Fiserv.Messaging.Api.V1.Reporting.Designer.DataRequestDto":{"type":"object","properties":{"Source":{"type":"string"},"Tenant":{"type":"string"},"Domain":{"type":"string"},"Category":{"type":"string"},"ClientLoginOrgList":{"type":"string"},"ReportId":{"type":"string"},"IsAutoJoined":{"type":"boolean"},"JoinList":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.Designer.DataSourceJoinDto"}},"ReadinessState":{"format":"int32","type":"integer"},"LobErrors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.LobError"}},"HasLobErrors":{"type":"boolean"},"TenantContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.TenantContext"},"ActivityContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.ActivityContext"},"Errors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.BaseError"}},"HasErrors":{"type":"boolean"}}},"Fiserv.Messaging.Api.V1.Reporting.Designer.DataSourceJoinDto":{"type":"object","properties":{"TableJoinSequence":{"format":"int32","type":"integer"},"ColumnJoinSequence":{"format":"int32","type":"integer"},"TableName1":{"type":"string"},"ColumnName1":{"type":"string"},"JoinType":{"type":"string"},"TableName2":{"type":"string"},"ColumnName2":{"type":"string"}}},"Fiserv.Messaging.Api.V1.Reporting.Designer.DataResponseDto":{"type":"object","properties":{"IsAutoJoined":{"type":"boolean"},"JoinList":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.Designer.DataSourceJoinDto"}},"LobErrors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.LobError"}},"HasLobErrors":{"type":"boolean"},"TenantContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.TenantContext"},"ActivityContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.ActivityContext"},"Errors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.BaseError"}},"HasErrors":{"type":"boolean"}}},"Fiserv.Messaging.Api.V1.Reporting.Designer.DataRecordsCountResponseDto":{"type":"object","properties":{"RecordsCount":{"format":"int32","type":"integer"},"LobErrors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.LobError"}},"HasLobErrors":{"type":"boolean"},"TenantContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.TenantContext"},"ActivityContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.ActivityContext"},"Errors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.BaseError"}},"HasErrors":{"type":"boolean"}}},"Fiserv.Messaging.Api.V1.Reporting.Designer.ColumnConfigRequestDto":{"type":"object","properties":{"Source":{"type":"string"},"Tenant":{"type":"string"},"Domain":{"type":"string"},"Category":{"type":"string"},"ClientLoginOrgList":{"type":"string"},"ReportId":{"type":"string"},"ColumnConfigList":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.Designer.ColumnConfigDto"}},"ChartType":{"type":"string"},"OrderType":{"type":"string"},"OrderBy":{"type":"string"},"ReadinessState":{"format":"int32","type":"integer"},"IsActive":{"type":"boolean"},"ShouldDisplayPivotAsDefault":{"type":"boolean"},"LobErrors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.LobError"}},"HasLobErrors":{"type":"boolean"},"TenantContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.TenantContext"},"ActivityContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.ActivityContext"},"Errors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.BaseError"}},"HasErrors":{"type":"boolean"}}},"Fiserv.Messaging.Api.V1.Reporting.Designer.ColumnConfigDto":{"type":"object","properties":{"DataType":{"type":"string"},"TableName":{"type":"string"},"ColumnSequence":{"format":"int32","type":"integer"},"ColumnName":{"type":"string"},"IsExcluded":{"type":"boolean"},"UserColumnName":{"type":"string"},"IsSpreadsheetColumn":{"type":"boolean"},"IsPivotGridField":{"type":"boolean"},"PivotUsage":{"type":"string"},"PivotMeasure":{"type":"string"},"IncludePivotPercentage":{"type":"boolean"},"IsDefaultMeasure":{"type":"boolean"},"HasFiltersEnabled":{"type":"boolean"},"ChartType":{"type":"string"},"OrderType":{"type":"string"},"OrderBy":{"type":"string"},"FixedFilterOperator":{"type":"string"},"FixedFilterValue1":{"type":"string"},"FixedFilterValue2":{"type":"string"},"IsAdvancedFilter":{"type":"boolean"},"IsRequiredFilter":{"type":"boolean"},"FilterType":{"type":"string"},"DefaultFilter":{"type":"string"},"Alignment":{"type":"string"},"NumericFormat":{"type":"string"},"DateFormat":{"type":"string"},"MaskFormat":{"type":"string"},"CharactersLength":{"format":"int32","type":"integer"},"DefaultColor":{"type":"string"},"ColorLogic":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.Designer.ColorLogicDto"}}}},"Fiserv.Messaging.Api.V1.Reporting.Designer.ColorLogicDto":{"type":"object","properties":{"Operator":{"type":"string"},"FieldOne":{"type":"string"},"FieldTwo":{"type":"string"},"Color":{"type":"string"}}},"Fiserv.Messaging.Api.V1.Reporting.Designer.ColumnConfigResponseDto":{"type":"object","properties":{"IsActive":{"type":"boolean"},"ChartType":{"type":"string"},"ShouldDisplayPivotAsDefault":{"type":"boolean"},"Orderby":{"type":"string"},"FixedFilterExpression":{"type":"string"},"ColumnConfigList":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.Designer.ColumnConfigDto"}},"LobErrors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.LobError"}},"HasLobErrors":{"type":"boolean"},"TenantContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.TenantContext"},"ActivityContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.ActivityContext"},"Errors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.BaseError"}},"HasErrors":{"type":"boolean"}}},"Fiserv.Messaging.Api.V1.Reporting.Scheduler.ScheduleRequestDto":{"type":"object","properties":{"ClientOrgList":{"type":"string"},"LobErrors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.LobError"}},"HasLobErrors":{"type":"boolean"},"TenantContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.TenantContext"},"ActivityContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.ActivityContext"},"Errors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.BaseError"}},"HasErrors":{"type":"boolean"}}},"Fiserv.Messaging.Api.V1.Reporting.Scheduler.ScheduleResponseDto":{"type":"object","properties":{"ScheduleList":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.Scheduler.ScheduleDto"}},"LobErrors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.LobError"}},"HasLobErrors":{"type":"boolean"},"TenantContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.TenantContext"},"ActivityContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.ActivityContext"},"Errors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.BaseError"}},"HasErrors":{"type":"boolean"}}},"Fiserv.Messaging.Api.V1.Reporting.Scheduler.ScheduleDto":{"type":"object","properties":{"ClientOrgList":{"type":"string"},"IsActive":{"type":"boolean"},"ScheduleId":{"type":"string"},"ScheduleDescription":{"type":"string"}}},"Fiserv.Messaging.Api.V1.Reporting.Scheduler.ScheduleDetailRequestDto":{"type":"object","properties":{"ClientOrgList":{"type":"string"},"ScheduleId":{"type":"string"},"LobErrors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.LobError"}},"HasLobErrors":{"type":"boolean"},"TenantContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.TenantContext"},"ActivityContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.ActivityContext"},"Errors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.BaseError"}},"HasErrors":{"type":"boolean"}}},"Fiserv.Messaging.Api.V1.Reporting.Scheduler.ScheduleDetailResponseDto":{"type":"object","properties":{"ScheduleDetails":{"$ref":"#/definitions/Fiserv.Messaging.Api.V1.Reporting.Scheduler.ScheduleDetailDto"},"LobErrors":{"type":"array","items":{"$ref":"#/definitions/Fiserv.Messaging.Common.LobError"}},"HasLobErrors":{"type":"boolean"},"TenantContext":{"$ref":"#/definitions/Fiserv.Messaging.Common.TenantContext"},"ActivityContext":{"$ref":"#/def
[...]
